//====================================
// Global Imports
//====================================


// 1- Import bootstrap framework
@import '1-frameworks/index';

// 2 - Import plugins
@import '2-plugins/index';

// 3 - Import base style, custom variables and mixins
@import '3-base/index';

// 4 - Import modules
@import '4-modules/index';

// 5 - Import layout  styles
@import '5-layout/index';

.italico {
	font-style: italic;
	font-weight: 900;
}

.italico-regular {
	font-style: italic;
	font-weight: 400;
}

.italico-bold {
	font-style: italic;
	font-weight: 700;
}

.header{
	background-image: url(../img/1.jpg);
	background-size: cover;
	padding-bottom:150px;
}

.middle{
	padding-top: 80px;
	padding-bottom: 100px;
}


.bottom{
	background-image: url(../img/3.jpg);
	background-size: cover;
	padding-top: 80px;
	padding-bottom: 80px;
}

.final{
	background-color: #8AFFB2
}

.verde1{
	color: #368D54
}

.verde2{
	color: #235000
}

.cinza{
	color: #707070
}

.branco{
	color: #ffffff
}